#define VOS_NT_WINDOWS32    0x00040004L
#define VFT_APP             0x00000001L

//we must set the resource file to debug and release mode!!!!
MAINICON ICON "icon.ico"

1 VERSIONINFO
FILEVERSION 0,0,2,0
PRODUCTVERSION 0,0,2,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "080904E4"
		 {
		     VALUE "Language", "English"
			 VALUE "CompanyName", "aaaa0ggMC's Company"
			 VALUE "FileVersion", "0.0.1"
			 VALUE "FileDescription", "FNAF"
			 VALUE "InternalName", ""
			 VALUE "LegalCopyright", "Copyright(c)aaaa0ggMC(Со*Бъ) 2020 GNU/SFML"
			 VALUE "LegalTrademarks", "https://space.bilibili.com/394099679"
			 VALUE "OriginalFilename", "fnaf.exe"
			 VALUE "ProductName", "Five Nights At Freddy's Home"
			 VALUE "ProductVersion", "0.0.2"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0809, 1252
	 }
}
